/** homepage style.css **/

* {   
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    font-size: 18px;
}

.hometitle {
    color: white;
    font-size: 54px;
}

.picture {
    height: auto;
}

.picture.top {
     width: 600px;
 }

.picture.bottom {
     width: 300px;
 }

 .linkbox {
     color: white;
     background-color: red;
     font-weight: bolder;
     padding: 10px;
     margin 10px;
     border: 3px;
     text-decoration: none;
 }